* {
font-family: Verdana, sans;
}
h1, h2 {
padding: 10px;
color: tomato;
}
h1 {
background-color: royalblue;
color: white;
text-align: center;
padding: 5px;
}
h2 {
text-align: center;
border: 1px solid tomato;
}
label {
text-align: center;
}
a {
color: royalblue;
}
.container {
width: 70%;
margin: 0 auto;
padding-bottom: 50px;
}
.tehtavananto {
background-color: #eee;
padding: 15px;
}
.tehtava {
text-align: center;
padding-left: 12px;
margin: 30px 0;
}
span {
color: red;
}
.tehtava li {
padding: 10px;
}
table,td {
padding: 5px;
border: 1px solid;
}